<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <% if can? :manage, comment %> 
  <div> 
  <%= link_to "Edit this comment", edit_comment_path(comment), class: "manage_button" %> |
  <%= link_to "Destroy this comment", comment, data: {turbo_method: :delete}, class: "manage_button"%>
</div>
<% end %>

</div>
