<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment), class: "manage_button"%> |
  <%= link_to "Back to comments", comments_path, class: "manage_button" %>

  <%= link_to "Destroy this comment", @comment, class: "manage_button", data: {turbo_method: :delete} %>
</div>
