<div id="<%=dom_id subscription%>">
<p>  <strong>Name:</strong>
  <%= subscription.name %></p>
<p>
  <strong>Telegram:</strong>  <%= subscription.telegram %>
</p>
<p>
  <strong>Id=  </strong>  <%= subscription.id %>
</p>
<p>  <strong>Content:</strong>
  <%= subscription.site %></p>
</div>