
<div class="post-page-wrapper">
  <p class="post-user-text">
    <%= post.user.email %>
  </p>

  <div id="<%= dom_id post %>" class="post-item-container">
  <div class="post-item-image">
  <% if post.post_image.present? %>
  <%= image_tag post.post_image.url, width: 100 %>
  <% end %>
  </div>

  <div class="post-item-content">
  
  <div class="top-item-content">
  <p class="post-item-title">
    <%= post.title %>
  </p>
  <div class="post-item-tag>">
  <p class="post-tag-text">
  <%= post.tag_list.join(" ") %>
  </p>
  </div>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  </div>

<p>
  <strong>Likes:</strong>
  <%= post.likes_count %>
</p>


</div>
</div>
