<p style="color: green"><%= notice %></p>
<%= link_to "Back", root_path %>
<%= render @post %>

<%= link_to "New Comment", new_post_comment_path(@post), class: "manage_button" %>

<h2>Comments</h2>
<%= render @post.comments %>

<div>
  <%= link_to "Back to posts", posts_path, class: "manage_button" %>

  <% if can? :manage, @post %> 
  <%= link_to "Delete this post", @post, data: {turbo_method: :delete}, class: "manage_button"%>
  <%= link_to "Edit this post", edit_post_path(@post), class: "manage_button" %>
<% end %>
</div>

<button class='manage_button' onclick="copyContent()">
click me!
</button>

<script>
 var copyText = window.location.href
 const copyContent = async () => {
    try {
      await navigator.clipboard.writeText(copyText);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
</script>


	<h2>Add a comment:</h2>
	<%= render "comments/form", post_id: @post.id %>

<p>
	<strong>Author:</strong>
	<%= @post.user.email %>
</p>