
<p style="color: green"><%= notice %></p>

<%# <div class="post_row_container"> %>
<%= link_to "Back", posts_url %>

<div class="post_column_container">
<%= render @post %>



<div class ="comments_form_container">
	<%= render "comments/form", post_id: @post.id %>
</div>


<%= render @post.comments.order(created_at: :desc) %>

<div>
  <%= link_to "Back to posts", posts_path, class: "manage_button" %>

  <% if can? :manage, @post %> 
  <%= link_to "Delete this post", @post, data: {turbo_method: :delete}, class: "manage_button"%>
  <%= link_to "Edit this post", edit_post_path(@post), class: "manage_button" %>
<% end %>
</div>


</div>
</div>